

node_modules
dist
.tmp
.sass-cache
bower_components
.idea/workspace.xml
.idea/*

projectFilesBackup/
ui-test/

# the rails staff
# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/config/deploy.rb
